body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
nav{
    background-image: radial-gradient( circle ,rgb(68, 61, 61),white,rgb(68, 61, 61));
    color: black;
    padding: 20px 50px;
}

.navtop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchinput{
    border: none;
    background-color: transparent;
}
.searchinput::placeholder{
    color: lightgray;
}
.limitedoffer{
    font-size: 20px;
    border-bottom: 2px solid rgb(58, 2, 58);
    cursor: pointer;
}
.navbottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuitem{
    margin-right: 50px;
    font-weight: 900;
    cursor: pointer;
    color: black;
}

.slider{
   background: url(https://thumbs.dreamstime.com/b/seamless-ceramic-tiles-white-wall-background-texture-seamless-ceramic-tiles-white-wall-background-160826280.jpg);
  clip-path: polygon(0% 0%, 100% 0, 100% 99%, 49% 100%, 0 99%);
overflow: hidden;
}
.sliderwrapper{
         display: flex;
         width: 500vw; 
         transition: all 1.5s ease-in-out ;
}
.slideritem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.slidertitle{
    position: absolute;
    color: black;
    top: 10%;
    right: 10%;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    z-index: 1;
  }
.slidbg{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    background-color: yellow;
}
.sliderimg{
    z-index: 1;
}
.sliderprice{
    position: absolute;
    color:black;
    top: 10%;
    left: 10%;
    font-size: 30px;
    background-color: pink;
    text-align: center;
    font-weight: 500;
    border: 1px solid green;
    z-index: 1;
}
.buybutton{
    position: absolute;
    color: black;
    top: 50%;
    right: 20%;
    font-size: 30px;
    font-weight: 900;
    border: 2px solid green;
    background-color:pink;
    cursor: pointer;
    z-index: 1;
}

.buybutton:hover{
    background-color: white;
    color: pink;
}

.slideritem:nth-child(1) .slidbg{
    background-color:pink;
}
.slideritem:nth-child(2) .slidbg{
    background-color:rgb(248, 248, 129);
}
.slideritem:nth-child(3) .slidbg{
    background-color: rgb(255, 118, 255);
}
.slideritem:nth-child(4) .slidbg{
    background-color:rgb(98, 98, 240);
}
.slideritem:nth-child(5) .slidbg{
    background-color:greenyellow;
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.featureimg{
    width: 50px;
    height: 50px;
}

.featuretitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featuredesc{
    color: rgb(110, 8, 8);
    width: 50%;
    height: 100px;
}

.product{
    height: 100vh;
    background-color: whitesmoke;
    position:relative;

}
.productimg{
    width: 20%;
    padding-left: 10%;
    padding-top: 5%;
}

.productdetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;

}
.producttitle{
    font-size: 75px;
    font-weight: 900;
}

.productdesc{
    font-size:24px;
    color: gray;
}
.colors,.sizes{
    display: flex;
    padding-left: 56%;
}
.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color:gray;
}

.productbutton{
    margin-left: 56%;
    margin-top: .5%;
    font-weight: 900;
    color:rgb(205, 54, 79);
    background-color: whitesmoke;
    border-radius: 7px;
    width: 100px;
    height: 30px;

}

.productbutton:hover{
    color: pink;
    background-color:  rgb(3, 13, 59);
    border: 50%;
    cursor:pointer;
}

.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right:10px;

}

.color:last-child{
    background-color: rgb(4, 4, 55) ;
}

.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;

}